#spreadsheet{
    margin-top: auto;
    margin-bottom: auto;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}

#spreadsheet tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 100px;
    height: 30px;
}

#spreadsheet .selected{
    background-color: #e0e0ff;
}