#spreadsheet{
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#spreadsheet td, th{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
}
#spreadsheet th{
    background-color: #d0d0d0;
}
#spreadsheet .selected{
    background-color: #e0e0ff;
}
#id{
    background-color: #d0d0d0;

}