#board{
    border: 3px solid black;
    margin-top: 5rem;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#board td{
    border: 1px solid black;
    font-size: 200%;
    width: 50px;
    height: 50px;
    text-align: center;
}

#board td:hover {
    background-color: #f5dd90;
}

#board td:nth-child(3){
    border-right: 3px solid black;
}

#board td:nth-child(6){
    border-right: 3px solid black;
}

#board tr:nth-child(3n){
    border-bottom: 3px solid black;
}

#palette{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

#palette td{
    border: 1px solid black;
    font-size: 200%;
    text-align: center;
    width: 50px;
    height: 50px;
}

.user-input:hover{
    background-color: #f2f2f2;
}

.error{
    background-color: #f76c5e;
}

#highscore{
    word-spacing: 50px;
    font-weight: bold;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    text-align: center;
    
}

#border-top{
    border-top: 1px solid black;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

#scores td{
    padding-top: 20px;
    word-spacing: 40px;
    text-align: center;
}




